* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a8aed1;

    height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.form_wrapper {
    background-color: #fff;
    padding: 20px;
    margin: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 50px;
    text-align: center;
    color: #333;

}

label {
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="month"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #007BFF;
}

p {
    font-weight: bold;
}